/* colors */
$brand := #414141

$green := #14CCA0

$blue := #009CFF

$red := #F12D2D

$colors := {
  "brand": $brand,
  "blue": $blue,
  "green": $green,
  "red" : $red
}

/* status color */
$error-color := $red

$success-color := $green

$disable-bg-color := #e5e5e5

/* background color */
$bg-color-1 := #fff9f0 // used in large area background

$bg-color-2 := #f0f0f0 // used in element background

$bg-color-3 := #fff6e8 // used in element background hover

$bg-color := $bg-color-2

/* border color */
$border-color-1 := #b4b4b4 // the default border color - i.e. input border

$border-color-2 := #e1e1e1 // i.e. focus border color, i.e. darker input border color

$border-color-3 := #e1e1e1 // i.e. focused darker input border color

$border-color := $border-color-1

/* font color */
$font-color-0 := #b4b4b4 // placeholder or disabled text

$font-color-1 := #777777 // lightest font color

$font-color-2 := #777777 // lighter font color

$font-color-3 := #777777 // default font color

$font-color-4 := #555555 // darkest font color

$font-color := $font-color-3

/* shadow color */
$shadow-color := rgba(241,188,28,0.2)
